services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-revamped
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
